a {
    color: inherit;
    text-decoration: none; 
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #F5F5DC;
    font-family: Arial, sans-serif;
}

h1{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 24px;
    font-family: Arial, sans-serif;
}

a.top-header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    padding: 10px 0;
    width: 100%;
    background-color: #F5F5DC;
    text-align: center;
    font-family: "Arial";
    color: inherit;
    text-decoration: none;
}

.round-button-git {
    display: flex;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-color:rgb(255, 255, 255);
    color: black;
    margin-bottom: 25px;
    animation: git 4s 1 forwards;
}

.round-button-git:hover {
    background-color:rgb(190, 190, 190);
}

.logo {
    max-width: 150px;
    max-height: 150px;
}

.cpp{
    max-width: 100px;
    max-height: 100px;
    animation: cpp 2s 1 forwards;
}

.python{
    max-width: 100px;
    max-height: 100px;
    animation: python 2s 1 forwards;
}

.godot{
    max-width: 100px;
    max-height: 100px;
    animation: godot 3s 1 forwards;
}

.html{
    max-width: 100px;
    max-height: 100px;
    animation: html 3s 1 forwards;
}

.css{
    max-width: 100px;
    max-height: 100px;
    animation: css 4s 1 forwards;
}

.java{
    max-width: 100px;
    max-height: 100px;
    animation: java 4s 1 forwards;
}


@keyframes cpp {
    0%{
        transform: translate(-100px) scale(0) rotate(0deg);
    }
    100%{
        transform: translate(100px) scale(1) rotate(360deg);
    }
    
}

@keyframes python {
    0%{
        transform: translate(100px) scale(0) rotate(0deg);
    }

    100%{
        transform: translate(-100px) scale(1) rotate(-360deg);
    }
}

@keyframes godot {
    0%{
        transform: translate(-200px) scale(0) rotate(0deg);
    }

    100%{
        transform: translate(200px) scale(1) rotate(360deg);
    }
    
}

@keyframes html {
    0%{
        transform: translate(200px) scale(0) rotate(0deg);
    }

    100%{
        transform: translate(-200px) scale(1) rotate(-360deg);
    }
    
}

@keyframes css {
    0%{
        transform: translate(-300px) scale(0) rotate(0deg);
    }

    100%{
        transform: translate(300px) scale(1) rotate(360deg);
    }
}

@keyframes java {
    0%{
        transform: translate(300px) scale(0) rotate(0deg);
    }

    100%{
        transform: translate(-300px) scale(1) rotate(-360deg);
    }
    
}

@keyframes git{
    0%{
        transform: scale(0);
    }

    100%{
        transform: scale(1);
    }
}

